/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/vendor/bundle
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
/.bash_history
/.byebug_hist
/.ruby-version
/mobile-subscriber-*.gem
